@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}/* Chrome/Safari: pintar ícone do calendário via filter */
.date-yellow::-webkit-calendar-picker-indicator {
  filter: invert(83%) sepia(36%) saturate(2200%) hue-rotate(2deg) brightness(95%) contrast(95%);
  opacity: 0.95;
  cursor: pointer;
}

/* manter aparência dark no input date */
.date-yellow {
  color-scheme: dark;
}
.date-yellow::-webkit-calendar-picker-indicator {
  filter: invert(83%) sepia(36%) saturate(2200%) hue-rotate(2deg) brightness(95%) contrast(95%);
  opacity: 1;
  cursor: pointer;
}

